<li>
	<div class="burgerName color">
		{{burger_name}}
	</div>
	{{#if devour}}
		<button class="changeDevoured btn btn-secondary" data-id="{{id}}" data-changeDevoured="{{devour}}">
			Devour it!
		</button>
	{{else}}{{/if}}
	<br>
</li>