<li>
	<div class="burgerName">
		{{burger_name}}
	</div>
	<button class="changeDevoured" data-id="{{id}}" data-changeDevoured="{{devour}}">
		{{#if devour}}Devour it!{{else}} {{/if}}
	</button>
	<br>
</li>