body {
    background-image: url("../img/burgerBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(15, 15, 15);
}

ul {
    list-style-type: none;
}

.rounded {
    border-radius: 10px;
}